* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

span {
  display: none;
}

section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

section.active {
  visibility: visible;
}

.click {
  cursor: pointer;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

div #left1 {
  top: 42vh;
  position: relative;
  display: table-cell;
  left: 6.67vw;
  width: 36vw;
}

div.right1 {
  position: absolute;
  display: flex;
  top: 22vh;
  left: 33.23vw;
  width: 60vw;
}

div #left2 {
  top: 42vh;
  position: relative;
  display: table-cell;
  left: 6.67vw;
  width: 33.8vw;
}

div.right2 {
  position: absolute;
  display: flex;
  top: 22vh;
  left: 33.23vw;
  width: 60vw;
}

div #left3 {
  top: 42vh;
  position: relative;
  display: table-cell;
  left: 6.67vw;
  width: 38vw;
}

div.right3 {
  position: absolute;
  display: flex;
  top: 22vh;
  left: 33.23vw;
  width: 60vw;
}

div #left4 {
  top: 42vh;
  position: relative;
  display: table-cell;
  left: 6.67vw;
  width: 38vw;
}

div.right4 {
  position: absolute;
  display: flex;
  top: 22vh;
  left: 33.23vw;
  width: 60vw;
}

div #left5 {
  top: 42vh;
  position: relative;
  display: table-cell;
  left: 6.67vw;
  width: 38vw;
}

div.right5 {
  position: absolute;
  display: flex;
  top: 22vh;
  left: 33.23vw;
  width: 60vw;
}
nav ::after {
  font-size: 0;
  content: "";
  clear: both;
  display: table;
  position: sticky;
  min-width: 90vw;
  width: 100vw;
}

nav.navbar {
  margin-top: 3vh;
  width: 100vw;
}

.navleft {
  left: 3vw;
  float: left;
  position: sticky;
  width: 3vw;
}

.navright {
  margin-top: 1vh;
  float: left;
  position: sticky;
  left: 15vw;
}

#name {
  left: 8vw;
  width: 12vw;
}

#product {
  width: 4.8vw;
  left: 49.69vw;
}

#place {
  width: 3.2vw;
  left: 58.96vw;
}

#inspiration {
  width: 9vw;
  left: 65.78vw;
}

#new {
  width: 2.5vw;
  left: 79.17vw;
}

#discount {
  width: 5.4vw;
  left: 85.93vw;
}

#shoppingcart {
  width: 1.9vw;
  left: 93.89vw;
}

#ceremony {
  width: 6.4vw;
}

#original {
  width: 6.2vw;
}

#light {
  width: 3.6vw;
}

#nightnight {
  width: 7vw;
}

#housework {
  width: 7vw;
}

#left1 #ceremony_ {
  background-color: white;
  display: block;
  position: relative;
  z-index: 1;
}

#left1 #ceremony_:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.18s ease;
}

#left1 #original {
  display: block;
  position: relative;
  padding-top: 2.7vh;
}

#left1 #light {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left1 #nightnight {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left1 #housework {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left2 #ceremony {
  display: block;
  position: relative;
  padding-bottom: 2vh;
}

#left2 #original_:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.18s ease;
}

#left2 #original_ {
  background-color: white;
  z-index: 1;
  display: block;
  position: relative;
}

#left2 #light {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left2 #nightnight {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left2 #housework {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left3 #ceremony {
  display: block;
  position: relative;
  padding-bottom: 1vh;
}

#left3 #light_:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.18s ease;
}

#left3 #original {
  display: block;
  position: relative;
  padding-top: 1vh;
}

#left3 #light_ {
  display: block;
  position: relative;
  z-index: 1;
  width: 24vw;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

#left3 #nightnight {
  display: block;
  position: relative;
  padding-top: 1.8vh;
}

#left3 #housework {
  display: block;
  position: relative;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#left4 #ceremony {
  display: block;
  position: relative;
}

#left4 #nightnight_:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.18s ease;
}

#left4 #original {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left4 #light {
  display: block;
  position: relative;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

#left4 #nightnight_ {
  background-color: white;
  z-index: 1;
  display: block;
  position: relative;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#left4 #housework {
  display: block;
  position: relative;
  top: 0.4vh;
  padding-top: 2.1vh;
  padding-bottom: 2vh;
  width: 7vw;
}

#left5 #ceremony {
  display: block;
  position: relative;
}

#left5 #housework_:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.18s ease;
}

#left5 #original {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left5 #light {
  display: block;
  position: relative;
  padding-top: 2vh;
}

#left5 #nightnight {
  display: block;
  position: relative;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

#left5 #housework_ {
  background-color: white;
  z-index: 1;
  display: block;
  position: relative;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

#text {
  display: block;
  width: 25%;
  left: 7vw;
  position: absolute;
  top: 87vh;
}

.scroll {
  top: 10vh;
  left: 58vw;
  width: 0.5vw;
  position: absolute;
  z-index: 1;
}

.right1 #scroll1 {
  top: 26vh;
}

.right1 #scroll2 {
  top: 32.5vh;
}

.right1 #scroll3 {
  top: 35vh;
}

.right1 #scroll4 {
  top: 37.5vh;
}

.right1 #scroll5 {
  top: 40vh;
}

.right2 #scroll1 {
  top: 26vh;
}

.right2 #scroll2 {
  top: 28.5vh;
}

.right2 #scroll3 {
  top: 35vh;
}

.right2 #scroll4 {
  top: 37.5vh;
}

.right2 #scroll5 {
  top: 40vh;
}

.right3 #scroll1 {
  top: 26vh;
}

.right3 #scroll2 {
  top: 28.5vh;
}

.right3 #scroll3 {
  top: 31vh;
}

.right3 #scroll4 {
  top: 37.5vh;
}

.right3 #scroll5 {
  top: 40vh;
}

.right4 #scroll1 {
  top: 26vh;
}

.right4 #scroll2 {
  top: 28.5vh;
}

.right4 #scroll3 {
  top: 31vh;
}

.right4 #scroll4 {
  top: 33.5vh;
}

.right4 #scroll5 {
  top: 40vh;
}

.right5 #scroll1 {
  top: 26vh;
}

.right5 #scroll2 {
  top: 28.5vh;
}

.right5 #scroll3 {
  top: 31vh;
}

.right5 #scroll4 {
  top: 33.5vh;
}

.right5 #scroll5 {
  top: 36vh;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.18s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  padding-left: 16vw;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  //overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(145, 143, 143, 0.108); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: 0px;
  display: block;
  width: 10vw;
  max-width: 80vw;
  min-width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 80vw;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 10vh;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.18s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
